UserManagement/ShoppingCartWS.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl2:description xmlns:wsdl2="http://www.w3.org/ns/wsdl" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:wrpc="http://www.w3.org/ns/wsdl/rpc" xmlns:wsoap="http://www.w3.org/ns/wsdl/soap" xmlns:tns="http://shoppingCart.t3.sos.fi.upm.es" xmlns:wsdlx="http://www.w3.org/ns/wsdl-extensions" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:whttp="http://www.w3.org/ns/wsdl/http" targetNamespace="http://shoppingCart.t3.sos.fi.upm.es">
    <wsdl2:types>
        <xs:schema attributeFormDefault="qualified" elementFormDefault="qualified" targetNamespace="http://shoppingCart.t3.sos.fi.upm.es">
            <xs:element name="login">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="1" name="username" nillable="false" type="xs:string"/>
                        <xs:element minOccurs="1" name="password" nillable="false" type="xs:string"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="loginResponse" minOccurs="1" nillable="false" type="xs:boolean"/>
            <xs:element name="productName" minOccurs="1" nillable="false" type="xs:string"/>
            <xs:element name="productPrice" minOccurs="1" nillable="false" type="xs:double"/>
            <xs:element name="productAvailableUnits" minOccurs="1" nillable="false" type="xs:int"/>
            <xs:element name="productsList">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" maxOccurs="unbounded" name="product" nillable="false" type="xs:string"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="productAvailable" minOccurs="1" nillable="false" type="xs:boolean"/>
            <xs:complexType name="productAmountType">
                <xs:sequence>
                    <xs:element minOccurs="1" maxOccurs="1" name="product" nillable="false" type="xs:string"/>
                    <xs:element minOccurs="1" maxOccurs="1" name="amount" nillable="false" type="xs:int"/>
                </xs:sequence>
            </xs:complexType>
            <xs:element name="productAmount" type="tns:productAmountType">
            </xs:element>
            <xs:element name="productsAmountsList">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="productAmountInfo" minOccurs="0" maxOccurs="unbounded" nillable="false" type="tns:productAmountType"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="budget" minOccurs="1" nillable="false" type="xs:double"/>
            <xs:element name="costOfCart" minOccurs="1" nillable="false" type="xs:double"/>
            <xs:element name="ErrorMessage" type="xs:string"/>
        </xs:schema>
    </wsdl2:types>

    <wsdl2:interface name="ShoppingCartInterface">
        <wsdl2:fault name="ProductUnknownError" element="tns:ErrorMessage"/>
        <wsdl2:fault name="NotEnoughUnitsError" element="tns:ErrorMessage"/>
        <wsdl2:fault name="NotEnoughBudgetError" element="tns:ErrorMessage"/>
        <wsdl2:fault name="NotValidSessionError" element="tns:ErrorMessage"/>
        <wsdl2:operation name="login" style="http://www.w3.org/ns/wsdl/style/rpc" pattern="http://www.w3.org/ns/wsdl/in-out">
            <wsdl2:input element="tns:login" wsaw:Action="urn:login"/>
            <wsdl2:output element="tns:loginResponse" wsaw:Action="urn:loginResponse"/>
        </wsdl2:operation>
        <wsdl2:operation name="logout" pattern="http://www.w3.org/ns/wsdl/robust-in-only">
            <wsdl2:input element="#none" wsaw:Action="urn:logout"/>
        </wsdl2:operation>
        <wsdl2:operation name="getProductsList" style="http://www.w3.org/ns/wsdl/style/rpc" pattern="http://www.w3.org/ns/wsdl/in-out">
            <wsdl2:input element="#none" wsaw:Action="urn:getProductsList"/>
            <wsdl2:output element="tns:productsList" wsaw:Action="urn:getProductsListResponse"/>
            <wsdl2:outfault ref="tns:NotValidSessionError" wsaw:Action="urn:getProductsListError"/>
        </wsdl2:operation>
        <wsdl2:operation name="getProductPrice" style="http://www.w3.org/ns/wsdl/style/rpc" pattern="http://www.w3.org/ns/wsdl/in-out">
            <wsdl2:input element="tns:productName" wsaw:Action="urn:getProductPrice"/>
            <wsdl2:output element="tns:productPrice" wsaw:Action="urn:getProductPriceResponse"/>
            <wsdl2:outfault ref="tns:ProductUnknownError" wsaw:Action="urn:getProductPriceError"/>
            <wsdl2:outfault ref="tns:NotValidSessionError" wsaw:Action="urn:getProductPriceError"/>
        </wsdl2:operation>
        <wsdl2:operation name="getProductAvailableUnits" style="http://www.w3.org/ns/wsdl/style/rpc" pattern="http://www.w3.org/ns/wsdl/in-out">
            <wsdl2:input element="tns:productName" wsaw:Action="urn:getProductAvailableUnits"/>
            <wsdl2:output element="tns:productAvailableUnits" wsaw:Action="urn:getProductAvailableUnitsResponse"/>
            <wsdl2:outfault ref="tns:ProductUnknownError" wsaw:Action="urn:getProductAvailableUnitsError"/>
            <wsdl2:outfault ref="tns:NotValidSessionError" wsaw:Action="urn:getProductAvailableUnitsError"/>
        </wsdl2:operation>
        <wsdl2:operation name="checkProductAvailability" style="http://www.w3.org/ns/wsdl/style/rpc" pattern="http://www.w3.org/ns/wsdl/in-out">
            <wsdl2:input element="tns:productAmount" wsaw:Action="urn:checkProductAvailability"/>
            <wsdl2:output element="tns:productAvailable" wsaw:Action="urn:checkProductAvailabilityResponse"/>
            <wsdl2:outfault ref="tns:ProductUnknownError" wsaw:Action="urn:checkProductAvailabilityError"/>
            <wsdl2:outfault ref="tns:NotValidSessionError" wsaw:Action="urn:checkProductAvailabilityError"/>
        </wsdl2:operation>
        <wsdl2:operation name="budget" style="http://www.w3.org/ns/wsdl/style/rpc" pattern="http://www.w3.org/ns/wsdl/in-out">
            <wsdl2:input element="#none" wsaw:Action="urn:budget"/>
            <wsdl2:output element="tns:budget" wsaw:Action="urn:budgetResponse"/>
            <wsdl2:outfault ref="tns:NotValidSessionError" wsaw:Action="urn:budgetError"/>
        </wsdl2:operation>
        <wsdl2:operation name="addToCart" style="http://www.w3.org/ns/wsdl/style/rpc" pattern="http://www.w3.org/ns/wsdl/in-out">
            <wsdl2:input element="tns:productAmount" wsaw:Action="urn:addToCart"/>
            <wsdl2:output element="tns:productAvailableUnits" wsaw:Action="urn:addToCartResponse"/>
            <wsdl2:outfault ref="tns:ProductUnknownError" wsaw:Action="urn:addToCartError"/>
            <wsdl2:outfault ref="tns:NotEnoughUnitsError" wsaw:Action="urn:addToCartError"/>
            <wsdl2:outfault ref="tns:NotValidSessionError" wsaw:Action="urn:addToCartError"/>
        </wsdl2:operation>
        <wsdl2:operation name="removeFromCart" style="http://www.w3.org/ns/wsdl/style/rpc" pattern="http://www.w3.org/ns/wsdl/in-out">
            <wsdl2:input element="tns:productAmount" wsaw:Action="urn:removeFromCart"/>
            <wsdl2:output element="tns:productAvailableUnits" wsaw:Action="urn:removeFromCartResponse"/>
            <wsdl2:outfault ref="tns:ProductUnknownError" wsaw:Action="urn:removeFromCartError"/>
            <wsdl2:outfault ref="tns:NotValidSessionError" wsaw:Action="urn:removeFromCartError"/>
        </wsdl2:operation>
        <wsdl2:operation name="productsInCart" style="http://www.w3.org/ns/wsdl/style/rpc" pattern="http://www.w3.org/ns/wsdl/in-out">
            <wsdl2:input element="#none" wsaw:Action="urn:productsInCart"/>
            <wsdl2:output element="tns:productsAmountsList" wsaw:Action="urn:productsInCartResponse"/>
            <wsdl2:outfault ref="tns:NotValidSessionError" wsaw:Action="urn:productsInCartError"/>
        </wsdl2:operation>
        <wsdl2:operation name="costOfCart" style="http://www.w3.org/ns/wsdl/style/rpc" pattern="http://www.w3.org/ns/wsdl/in-out">
            <wsdl2:input element="#none" wsaw:Action="urn:costOfCart"/>
            <wsdl2:output element="tns:costOfCart" wsaw:Action="urn:costOfCartResponse"/>
            <wsdl2:outfault ref="tns:NotValidSessionError" wsaw:Action="urn:costOfCartError"/>
        </wsdl2:operation>
        <wsdl2:operation name="buy" style="http://www.w3.org/ns/wsdl/style/rpc" pattern="http://www.w3.org/ns/wsdl/in-out">
            <wsdl2:input element="#none" wsaw:Action="urn:buy"/>
            <wsdl2:output element="tns:budget" wsaw:Action="urn:buy"/>
            <wsdl2:outfault ref="tns:NotValidSessionError" wsaw:Action="urn:buyError"/>
            <wsdl2:outfault ref="tns:NotEnoughBudgetError" wsaw:Action="urn:buyError"/>
        </wsdl2:operation>

    </wsdl2:interface>

    <wsdl2:binding name="ShoppingCartSoap12Binding" interface="tns:ShoppingCartInterface" type="http://www.w3.org/ns/wsdl/soap" wsoap:version="1.2">
        <wsdl2:operation ref="tns:login" wsoap:action="urn:login"/>
        <wsdl2:operation ref="tns:logout" wsoap:action="urn:logout"/>
        <wsdl2:operation ref="tns:getProductsList" wsoap:action="urn:getProductsList"/>
        <wsdl2:operation ref="tns:getProductPrice" wsoap:action="urn:getProductPrice"/>
        <wsdl2:operation ref="tns:getProductAvailableUnits" wsoap:action="urn:getProductAvailableUnits"/>
        <wsdl2:operation ref="tns:checkProductAvailability" wsoap:action="urn:checkProductAvailability"/>
        <wsdl2:operation ref="tns:budget" wsoap:action="urn:budget"/>
        <wsdl2:operation ref="tns:addToCart" wsoap:action="urn:addToCart"/>
        <wsdl2:operation ref="tns:removeFromCart" wsoap:action="urn:removeFromCart"/>
        <wsdl2:operation ref="tns:productsInCart" wsoap:action="urn:productsInCart"/>
        <wsdl2:operation ref="tns:costOfCart" wsoap:action="urn:costOfCart"/>
        <wsdl2:operation ref="tns:buy" wsoap:action="urn:buy"/>
    </wsdl2:binding>

    <wsdl2:service name="ShoppingCartWS" interface="tns:ShoppingCartInterface">
        <wsdl2:endpoint name="ShoppingCartEndPoint"
                        binding="tns:ShoppingCartSoap12Binding"
                        address="http://localhost:8080/axis2/services/ShoppingCartWS"/>
    </wsdl2:service>

</wsdl2:description>
